
*.class

.classpath

.cache-main

.project

.settings/org.eclipse.jdt.core.prefs


*.scala

bin/week2/Classes.sc

bin/week2/Currying.sc

bin/week1/week1.sc

bin/week2/week2.sc

bin/week3/classHierarchy/worksheet.sc

bin/week3/polymorphism/objectsEverywhere.sc

bin/week3/polymorphism/polymorphism.sc

bin/week3/polymorphism/SubtypingGenerics.sc
